@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', Cochin, Georgia, Times, 'Times New Roman', serif;
}
.padding{
    padding-top: 110px;
}
/* SLIDES */
.bg-creamos{
    background-image: url('../media/bg-Creamos.png');
    background-size: cover;
    background-position: center;
}
.bg-diseñamos{
    background-image: url('../media/bg-Diseñamos.png');
    background-size: cover;
    background-position: center;
}
.bg-armamos{
    background-image: url('../media/bg-Armamos.png');
    background-size: cover;
    background-position: center;
}
.bg-innovamos{
    background-image: url('../media/bg-Innovamos.png');
    background-size: cover;
    background-position: center;
}
.texto-slide{
    position: relative;
    top: 200px;
}

.taza{
    height: 100vh;
}
.aside-nosotros{
    height: 100vh;
}
.text-nosotros{
    position: relative;
    top: 35%;
    padding: 0 3rem  ;
}
.text-nosotros>p{
 font-size: 5rem;
}
.text-nosotros>span{
 font-size: 2rem;
}
@media (max-width:1000px){
    .text-nosotros{
    top: 14%;
    }
    .text-nosotros>p{
     font-size: 3.2rem;
    }
    .text-nosotros>span{
     font-size: 1.7rem;
    }
}
.texto-mvv{
    font-size:4rem;
    color: #000;
    text-align: center;
}

/* CLIENTES */
.contenedor{
    display: flex;
    width: 100%;
    height: auto;
    padding: 4% 2%;
    box-sizing: border-box;
}
.box{
    position: relative;
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .4);
    transition: ease 300ms;
    border-radius: 2.5rem;
}
.box>img{
    /* width: 200%; */
    height: 77vh;
    object-fit: cover;
    transition: ease 300ms;
}
.box:hover{
    flex: 96%;
}

.img-fit{
    overflow: hidden;
    margin: 0;
    object-fit: cover;
    height: 100vh;
}
.box:hover{
    flex: 96%;
}


.height{
    height: 100vh;
}


/* NOSOTROS */
.rectan-nosotros{
    width: auto; 
    height: 6px; 
    background-color: #EA7500;
    margin: 0.25rem 0 0.5rem 0;
}
.text-shadow{
    text-shadow: 0px 2px 8px rgb(0 0 0 / 23%);
}


/* ESQUEMA */
.rectan-esquema{
    position: absolute;
    width: 8px;
    height:140vh;
    background-color: #000;
    top: 20%;
    left: 50%;
    z-index: 1;
}
.esquema-conten{
    display: flex;
    font-weight: bold;
    color: #F58549;
}


.transicion-esquema{
    color: rgba(0, 0, 0, 0);
    transition: 300ms all;
}
.transicion-esquema:hover{
    color: rgba(0, 0, 0, 0);
    color: #000;

}
/* 
.fs>span{
    font-size: large;
}
.fs>p{
    font-size:small;
} */
.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    top: 90%;
}

.fp-controlArrow.fp-prev{
    left: 80%;
}
.formulario{
    position: relative;
    top:20%;
    /* height: 100vh; */
}
.borde-input{
    border-radius: .55rem;
}

@media (mix-width:1500px) {
    .formulario{
        position: relative;
        top: 27%;
        /* height: 100vh; */
    }
}

@media (max-width:868px) {
    .bg-creamos{
        background-position: left;
    }
    .bg-diseñamos{
        background-position: right;
    }
    .bg-armamos{
        background-position: left;
    }
    .bg-innovamos{
        background-position: right;
    }
    .texto-slide{
        top:auto;
    }
    .taza{
        height: 60vh;
    }
    .height{
        max-width: 100%;
        height: auto;
    }
    .rectan-esquema{
        height: 80vh;
    }
    .box>img{
        /* width: 200%; */
        object-fit: fill;
        height: 48vh;
    }
  
    .text-nosotros{
        position:unset;
        padding: 40px 2rem 40px 2rem ;
    }
    .texto-mvv{
        font-size:2.5rem;
        color: #000;
        text-align: center;
    }
    .fp-controlArrow.fp-prev{
        left: 0%;
    }
    .fp-controlArrow.fp-next{
        right: 0%;
    }
    .fp-controlArrow.fp-next,
    .fp-controlArrow.fp-prev{
    top: 60%;
    }
    .formulario{
        top: 0;
        padding-top: 40px;
    }
  
}

